@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

@import './variables.scss';

body {
  height: 100%;
  margin: 0;
  background: #141E30;
  background: linear-gradient(to top, #243B55, #141E30);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  z-index: 1;
  margin: 0 1rem;
  position: relative;
  background: $white;
  padding: 4rem 1rem 2rem 1rem;
  max-width: calc(960px - 2rem);
  min-height: calc(100% - 3.9rem);
  box-shadow: 0 0 10px 1px $box-shadow-default;

  @include breakpoint($desktop) {
    margin: 0 auto;
  }
}

.content,
.winners {
  margin: 0 auto;
  max-width: 800px;
}

.progress {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 0.2rem;
  background: none;
  border-radius: 0;
  position: absolute;

  .progress-bar {
    opacity: 0;
    width: 100%;
  }
}

.navbar {
  margin: 0 auto;
  max-width: calc(960px - 32px);

  .navbar-brand {
    color: $white;
  }
}

.alert {
  opacity: 0;
  margin: 1rem auto;
  max-width: calc(960px - 2rem);
}

#fireworks {
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  pointer-events: none;

  canvas {
    width: 100vw;
  }
}

.form-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-wrapper {
  display: flex;
  margin: 3rem 0;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;

  button:not(:last-child) {
    margin-right: 0.5rem;
  }

  .btn.btn-example:disabled {
    cursor: not-allowed;
  }
}

.winners {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  .winner {
    margin-bottom: 1rem;
    min-width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);

    @include breakpoint($mobile) {
      min-width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    @include breakpoint($desktop) {
      min-width: calc(33.333% - 1rem);
      max-width: calc(33.333% - 1rem);
    }
  }
}
